export(anoint, pim, anoint.formula, forest, data.anoint, anoint.fit, uim, obo, pim.subsets, pim.fit, forest.subsets, anoint.subgroups)
exportClasses(anoint, pim, formula.anoint, anoint.fit)
exportMethods(show, coef, vcov, plot, predict, confint, fits)
importFrom(grid, viewport)
importFrom(grid, grid.layout)
importFrom(grid, get.gpar)
importFrom(grid, grid.points)
importFrom(grid, grid.segments)
importFrom(grid, grid.circle)
importFrom(grid, gpar)
importFrom(grid, grid.lines)
importFrom(grid, grid.text)
importFrom(grid, grid.rect)
importFrom(grid, popViewport)
importFrom(grid, pushViewport)
importFrom(grid, grid.newpage)
importFrom(grid, unit)
importFrom(MASS, stepAIC)
importFrom(glmnet, cv.glmnet)
importFrom(survival, coxph)
importFrom(survival, Surv)
importFrom(stats, as.formula)
importFrom(stats, formula)
importFrom(stats, glm)
importFrom(stats, logLik)
importFrom(stats, model.frame)
importFrom(stats, model.matrix)
importFrom(stats, na.omit)
importFrom(stats, offset)
importFrom(stats, optimize)
importFrom(stats, pchisq)
importFrom(stats, pt)
importFrom(stats, qt)
importFrom(stats, qchisq)
importFrom(stats, quantile)
importFrom(stats, qnorm)
importFrom(stats, rbinom)
importFrom(stats, rnorm)
importFrom(stats, rchisq)
importFrom(stats, runif)
importFrom(stats, rexp)
importFrom(stats, update)
importFrom(stats, update.formula)
importFrom(graphics, lines)
importFrom(graphics, points)
importFrom(graphics, par)
importFrom(graphics, rect)
importFrom(methods, new)
