export(anoint, pim, anoint.formula, forest, data.anoint, anoint.fit, uim, obo, pim.subsets, pim.fit, forest.subsets, anoint.subgroups)
exportClasses(anoint, pim, formula.anoint, anoint.fit)
import(MASS, survival, glmnet, grid, methods)
importFrom("graphics", plot)
importFrom("stats", coef, confint, vcov, predict, update)
exportMethods(show, coef, vcov, plot, predict, confint, fits)
